body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    background-image: url('music.jpg');
    background-size: cover;
    height: 100vh;
  }
  
  .sidebar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
    min-width: 200px;
  }
  
  .instrument-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .bn16 {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 25px;
  }
  